In [1]:
import numpy as np
import pandas as pd
'''
numpy 類似 一個列表
pandas 類似一個字典 
'''

'\nnumpy 類似 一個列表\npandas 類似一個字典 \n'

In [6]:
s = pd.Series([1,3,4,np.nan,44,1])
print(s)

0     1.0
1     3.0
2     4.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [8]:
dates = pd.date_range('20200301',periods = 6)
dates

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4),index = dates,columns = ['a','b','c','d'])
df

                   a         b         c         d
2020-03-01  1.590312 -0.630818  0.871585 -1.797868
2020-03-02 -0.605495 -0.848096  1.469647 -0.107311
2020-03-03 -1.037276  1.825318  1.514053 -0.332707
2020-03-04  0.285238 -0.505235 -1.359509  0.429237
2020-03-05  0.482423  0.373482  0.079874 -0.338847
2020-03-06  1.632089  1.109713 -0.251988 -0.989795

In [13]:
df_1 = pd.DataFrame(np.arange(12).reshape((3,4)))
df_1

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [14]:
df_1.dtypes

0    int64
1    int64
2    int64
3    int64
dtype: object

In [15]:
df_1.index

RangeIndex(start=0, stop=3, step=1)

In [17]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
df.values

array([[ 1.59031198, -0.63081811,  0.87158508, -1.79786785],
       [-0.60549464, -0.84809604,  1.46964731, -0.10731062],
       [-1.03727574,  1.82531844,  1.51405334, -0.33270722],
       [ 0.28523821, -0.50523477, -1.3595091 ,  0.42923717],
       [ 0.48242251,  0.37348189,  0.07987375, -0.3388473 ],
       [ 1.63208909,  1.10971287, -0.25198759, -0.98979506]])

In [19]:
df.describe()

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean   0.391215  0.220727  0.387277 -0.522882
std    1.098287  1.075442  1.116255  0.773675
min   -1.037276 -0.848096 -1.359509 -1.797868
25%   -0.382811 -0.599422 -0.169022 -0.827058
50%    0.383830 -0.065876  0.475729 -0.335777
75%    1.313340  0.925655  1.320132 -0.163660
max    1.632089  1.825318  1.514053  0.429237

In [20]:
df.T

   2020-03-01  2020-03-02  2020-03-03  2020-03-04  2020-03-05  2020-03-06
a    1.590312   -0.605495   -1.037276    0.285238    0.482423    1.632089
b   -0.630818   -0.848096    1.825318   -0.505235    0.373482    1.109713
c    0.871585    1.469647    1.514053   -1.359509    0.079874   -0.251988
d   -1.797868   -0.107311   -0.332707    0.429237   -0.338847   -0.989795

In [22]:
df.sort_index(axis = 0,ascending = False)

                   a         b         c         d
2020-03-06  1.632089  1.109713 -0.251988 -0.989795
2020-03-05  0.482423  0.373482  0.079874 -0.338847
2020-03-04  0.285238 -0.505235 -1.359509  0.429237
2020-03-03 -1.037276  1.825318  1.514053 -0.332707
2020-03-02 -0.605495 -0.848096  1.469647 -0.107311
2020-03-01  1.590312 -0.630818  0.871585 -1.797868

In [24]:
df.sort_values(by = 'a')

                   a         b         c         d
2020-03-03 -1.037276  1.825318  1.514053 -0.332707
2020-03-02 -0.605495 -0.848096  1.469647 -0.107311
2020-03-04  0.285238 -0.505235 -1.359509  0.429237
2020-03-05  0.482423  0.373482  0.079874 -0.338847
2020-03-01  1.590312 -0.630818  0.871585 -1.797868
2020-03-06  1.632089  1.109713 -0.251988 -0.989795