In [1]:
import numpy as np
import pandas as pd

In [17]:
dates = pd.date_range('20200301',periods = 6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index = dates,columns = ['a','b','c','d'])
print(df)

             a   b   c   d
2020-03-01   0   1   2   3
2020-03-02   4   5   6   7
2020-03-03   8   9  10  11
2020-03-04  12  13  14  15
2020-03-05  16  17  18  19
2020-03-06  20  21  22  23

In [18]:
df.iloc[2,2] = 1111
print(df)
df.loc['20200304','c'] = 222
print(df)
df[df.a>4] = 0
print(df)
df.b[df.b<6] = 2
print(df)

             a   b     c   d
2020-03-01   0   1     2   3
2020-03-02   4   5     6   7
2020-03-03   8   9  1111  11
2020-03-04  12  13    14  15
2020-03-05  16  17    18  19
2020-03-06  20  21    22  23
             a   b     c   d
2020-03-01   0   1     2   3
2020-03-02   4   5     6   7
2020-03-03   8   9  1111  11
2020-03-04  12  13   222  15
2020-03-05  16  17    18  19
2020-03-06  20  21    22  23
            a  b  c  d
2020-03-01  0  1  2  3
2020-03-02  4  5  6  7
2020-03-03  0  0  0  0
2020-03-04  0  0  0  0
2020-03-05  0  0  0  0
2020-03-06  0  0  0  0
            a  b  c  d
2020-03-01  0  2  2  3
2020-03-02  4  2  6  7
2020-03-03  0  2  0  0
2020-03-04  0  2  0  0
2020-03-05  0  2  0  0
2020-03-06  0  2  0  0

In [22]:
df['e'] = np.nan
print(df)
df['f'] = pd.Series([1,2,3,4,5,6],index = pd.date_range('20200301',periods =6))
print(df)

            a  b  c  d   e
2020-03-01  0  2  2  3 NaN
2020-03-02  4  2  6  7 NaN
2020-03-03  0  2  0  0 NaN
2020-03-04  0  2  0  0 NaN
2020-03-05  0  2  0  0 NaN
2020-03-06  0  2  0  0 NaN
            a  b  c  d   e  f
2020-03-01  0  2  2  3 NaN  1
2020-03-02  4  2  6  7 NaN  2
2020-03-03  0  2  0  0 NaN  3
2020-03-04  0  2  0  0 NaN  4
2020-03-05  0  2  0  0 NaN  5
2020-03-06  0  2  0  0 NaN  6

In [23]:
dates = pd.date_range('20200301',periods = 6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index = dates,columns = ['a','b','c','d'])
print(df)
df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan
print(df)

             a   b   c   d
2020-03-01   0   1   2   3
2020-03-02   4   5   6   7
2020-03-03   8   9  10  11
2020-03-04  12  13  14  15
2020-03-05  16  17  18  19
2020-03-06  20  21  22  23
             a     b     c   d
2020-03-01   0   NaN   2.0   3
2020-03-02   4   5.0   NaN   7
2020-03-03   8   9.0  10.0  11
2020-03-04  12  13.0  14.0  15
2020-03-05  16  17.0  18.0  19
2020-03-06  20  21.0  22.0  23

In [27]:
print(df.dropna(axis = 0,how = 'any')) # how = {'any,'all'}

             a     b     c   d
2020-03-03   8   9.0  10.0  11
2020-03-04  12  13.0  14.0  15
2020-03-05  16  17.0  18.0  19
2020-03-06  20  21.0  22.0  23

In [28]:
print(df.fillna(value = 0))

             a     b     c   d
2020-03-01   0   0.0   2.0   3
2020-03-02   4   5.0   0.0   7
2020-03-03   8   9.0  10.0  11
2020-03-04  12  13.0  14.0  15
2020-03-05  16  17.0  18.0  19
2020-03-06  20  21.0  22.0  23

In [32]:
print(np.any(df.isnull()) == True)

True