In [1]:
import pandas as pd
import numpy as np

In [2]:
# read file
stock_path = "C:/Users/acer/Desktop/LAB/lab2_2_2.csv"
stock_df = pd.read_csv(stock_path)

In [3]:
stock_df

,Date,Open,High,Low,Close,Change(%),market_Change(%),RSV,K,D,SMA,EMA,RSI,K(%),D(%),SMA(%),EMA(%),RSI(%),RISE
0,2010/1/4,24.568600,25.515600,23.937300,25.515600,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010/1/5,25.936399,25.962700,23.753201,23.937300,-6.185628,0.043261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2010/1/6,23.989901,24.989500,23.937300,24.253000,1.318862,1.415346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,2010/1/7,24.936899,24.989500,23.779499,23.858400,-1.627015,-1.083145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,2010/1/8,24.568600,25.515600,24.463400,25.515600,6.945981,0.527841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2284,2019/12/25,56.599998,57.400002,56.299999,57.000000,0.706717,0.265105,83.333302,81.904480,77.871076,55.357143,55.617953,100.0,0.879924,2.658650,1.174935,0.835216,9.756151101,1.0
2285,2019/12/26,58.000000,59.200001,57.599998,58.299999,2.280700,-0.059294,85.245876,83.018279,79.586810,56.057142,56.288464,100.0,1.359875,2.203301,1.264515,1.205567,0,1.0
2286,2019/12/27,58.599998,59.599998,58.400002,59.400002,1.886798,0.754770,96.774256,87.603605,82.259075,56.842857,57.066349,100.0,5.523272,3.357673,1.401631,1.381961,0,1.0
2287,2019/12/30,61.799999,65.300003,61.799999,65.300003,9.932661,-0.316085,100.000000,91.735736,85.417962,58.442857,59.124762,100.0,4.716851,3.840169,2.814779,3.607053,0,1.0
2288,2019/12/31,65.300003,67.500000,64.500000,67.500000,3.369061,-0.466512,100.000000,94.490491,88.442138,60.071429,61.218572,100.0,3.002924,3.540445,2.786605,3.541341,0,1.0