In [1]:
import pandas as pd
import numpy as np

In [6]:
# read file
stock_path = "C:/Users/acer/Desktop/LAB/lab2_2_2.csv"
stock_df = pd.read_csv(stock_path)

In [7]:
stock_df

,Date,Open,High,Low,Close,Change(%),market_Change(%),RSV,K,D,SMA,EMA,RSI,K(%),D(%),SMA(%),EMA(%),RSI(%),RISE
0,2010/1/4,24.568600,25.515600,23.937300,25.515600,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010/1/5,25.936399,25.962700,23.753201,23.937300,-6.185628,0.043261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2010/1/6,23.989901,24.989500,23.937300,24.253000,1.318862,1.415346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,2010/1/7,24.936899,24.989500,23.779499,23.858400,-1.627015,-1.083145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,2010/1/8,24.568600,25.515600,24.463400,25.515600,6.945981,0.527841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2284,2019/12/25,56.599998,57.400002,56.299999,57.000000,0.706717,0.265105,83.333302,81.904480,77.871076,55.357143,55.617953,100.0,0.879924,2.658650,1.174935,0.835216,9.756151101,1.0
2285,2019/12/26,58.000000,59.200001,57.599998,58.299999,2.280700,-0.059294,85.245876,83.018279,79.586810,56.057142,56.288464,100.0,1.359875,2.203301,1.264515,1.205567,0,1.0
2286,2019/12/27,58.599998,59.599998,58.400002,59.400002,1.886798,0.754770,96.774256,87.603605,82.259075,56.842857,57.066349,100.0,5.523272,3.357673,1.401631,1.381961,0,1.0
2287,2019/12/30,61.799999,65.300003,61.799999,65.300003,9.932661,-0.316085,100.000000,91.735736,85.417962,58.442857,59.124762,100.0,4.716851,3.840169,2.814779,3.607053,0,1.0
2288,2019/12/31,65.300003,67.500000,64.500000,67.500000,3.369061,-0.466512,100.000000,94.490491,88.442138,60.071429,61.218572,100.0,3.002924,3.540445,2.786605,3.541341,0,1.0

In [8]:
stock_df = stock_df[5:]

In [9]:
stock_df

,Date,Open,High,Low,Close,Change(%),market_Change(%),RSV,K,D,SMA,EMA,RSI,K(%),D(%),SMA(%),EMA(%),RSI(%),RISE
5,2010/1/11,26.725599,27.251699,26.304701,27.251699,6.804069,0.518300,NaN,50.000000,50.000000,25.055267,25.055267,50.000000,NaN,NaN,NaN,NaN,NaN,1.0
6,2010/1/12,27.514700,28.830000,27.251699,27.567301,1.158100,-0.173601,75.128048,58.376016,52.792005,25.414129,25.414129,67.104632,16.752032,5.584011,1.432282,1.432282,34.20926483,1.0
7,2010/1/13,27.251699,29.461300,27.251699,29.461300,6.870455,-1.357631,100.000000,72.250677,59.278229,25.977800,26.425921,74.999683,23.767743,12.286375,2.217945,3.981222,11.76528431,1.0
8,2010/1/14,30.197800,31.513100,30.197800,31.513100,6.964391,1.139757,100.000000,81.500452,66.685637,27.060057,27.697716,95.282726,12.802336,12.496000,4.166085,4.812679,27.04417082,1.0
9,2010/1/15,33.669998,33.669998,33.669998,33.669998,6.844449,0.807109,100.000000,87.666968,73.679414,28.405343,29.190787,96.133722,7.566236,10.487681,4.971480,5.390591,0.893127514,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2284,2019/12/25,56.599998,57.400002,56.299999,57.000000,0.706717,0.265105,83.333302,81.904480,77.871076,55.357143,55.617953,100.000000,0.879924,2.658650,1.174935,0.835216,9.756151101,1.0
2285,2019/12/26,58.000000,59.200001,57.599998,58.299999,2.280700,-0.059294,85.245876,83.018279,79.586810,56.057142,56.288464,100.000000,1.359875,2.203301,1.264515,1.205567,0,1.0
2286,2019/12/27,58.599998,59.599998,58.400002,59.400002,1.886798,0.754770,96.774256,87.603605,82.259075,56.842857,57.066349,100.000000,5.523272,3.357673,1.401631,1.381961,0,1.0
2287,2019/12/30,61.799999,65.300003,61.799999,65.300003,9.932661,-0.316085,100.000000,91.735736,85.417962,58.442857,59.124762,100.000000,4.716851,3.840169,2.814779,3.607053,0,1.0
2288,2019/12/31,65.300003,67.500000,64.500000,67.500000,3.369061,-0.466512,100.000000,94.490491,88.442138,60.071429,61.218572,100.000000,3.002924,3.540445,2.786605,3.541341,0,1.0

In [12]:
K = [0]
D = [0]
SMA = [0]
EMA = [0]
RSI = [0]

for i in range(1,len(stock_df)):
    if(stock_df[i:i+1]["K"].values <=80 and stock_df[i:i+1]["K"].values>=20):
        if(stock_df[i:i+1]["K"].values > stock_df[i-1:i]["K"].values):
            K.append(1)
        else:
            K.append(-1)
    elif(stock_df[i:i+1]["K"].values>80):
        K.append(-1)
    else:
        K.append(1)
        
        
    if(stock_df[i:i+1]["D"].values <=80 and stock_df[i:i+1]["D"].values>=20):
        if(stock_df[i:i+1]["D"].values > stock_df[i-1:i]["D"].values):
            D.append(1)
        else:
            D.append(-1)
    elif(stock_df[i:i+1]["D"].values>80):
        D.append(-1)
    else:
        D.append(1)    
        
    if(stock_df[i:i+1]["SMA"].values > stock_df[i-1:i]["SMA"].values):
        SMA.append(1)
    else:
        SMA.append(-1)
    
    if(stock_df[i:i+1]["EMA"].values > stock_df[i-1:i]["EMA"].values):
        EMA.append(1)
    else:
        EMA.append(-1)
    
    if(stock_df[i:i+1]["RSI"].values <=80 and stock_df[i:i+1]["RSI"].values>=20):
        if(stock_df[i:i+1]["RSI"].values > stock_df[i-1:i]["RSI"].values):
            RSI.append(1)
        else:
            RSI.append(-1)
    elif(stock_df[i:i+1]["RSI"].values>80):
        RSI.append(-1)
    else:
        RSI.append(1)

In [13]:
len(K)

2284

In [14]:
stock_df["KR"] = K
stock_df["DR"] = D
stock_df["SMAR"] = SMA
stock_df["EMAR"] = EMA
stock_df["RSIR"] = RSI

D:\anaconda\envs\pytorch\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\anaconda\envs\pytorch\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\anaconda\envs\pytorch\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\anaconda\envs\pytorch\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
D:\anaconda\envs\pytorch\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [15]:
stock_df.to_csv(paindex = False)

,Date,Open,High,Low,Close,Change(%),market_Change(%),RSV,K,D,...,D(%),SMA(%),EMA(%),RSI(%),RISE,KR,DR,SMAR,EMAR,RSIR
5,2010/1/11,26.725599,27.251699,26.304701,27.251699,6.804069,0.518300,NaN,50.000000,50.000000,...,NaN,NaN,NaN,NaN,1.0,0,0,0,0,0
6,2010/1/12,27.514700,28.830000,27.251699,27.567301,1.158100,-0.173601,75.128048,58.376016,52.792005,...,5.584011,1.432282,1.432282,34.20926483,1.0,1,1,1,1,1
7,2010/1/13,27.251699,29.461300,27.251699,29.461300,6.870455,-1.357631,100.000000,72.250677,59.278229,...,12.286375,2.217945,3.981222,11.76528431,1.0,1,1,1,1,1
8,2010/1/14,30.197800,31.513100,30.197800,31.513100,6.964391,1.139757,100.000000,81.500452,66.685637,...,12.496000,4.166085,4.812679,27.04417082,1.0,-1,1,1,1,-1
9,2010/1/15,33.669998,33.669998,33.669998,33.669998,6.844449,0.807109,100.000000,87.666968,73.679414,...,10.487681,4.971480,5.390591,0.893127514,1.0,-1,1,1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2284,2019/12/25,56.599998,57.400002,56.299999,57.000000,0.706717,0.265105,83.333302,81.904480,77.871076,...,2.658650,1.174935,0.835216,9.756151101,1.0,-1,1,1,1,-1
2285,2019/12/26,58.000000,59.200001,57.599998,58.299999,2.280700,-0.059294,85.245876,83.018279,79.586810,...,2.203301,1.264515,1.205567,0,1.0,-1,1,1,1,-1
2286,2019/12/27,58.599998,59.599998,58.400002,59.400002,1.886798,0.754770,96.774256,87.603605,82.259075,...,3.357673,1.401631,1.381961,0,1.0,-1,-1,1,1,-1
2287,2019/12/30,61.799999,65.300003,61.799999,65.300003,9.932661,-0.316085,100.000000,91.735736,85.417962,...,3.840169,2.814779,3.607053,0,1.0,-1,-1,1,1,-1
2288,2019/12/31,65.300003,67.500000,64.500000,67.500000,3.369061,-0.466512,100.000000,94.490491,88.442138,...,3.540445,2.786605,3.541341,0,1.0,-1,-1,1,1,-1